.btn{
font-size: 2rem;
width: 70px;
aspect-ratio: 1;
border: 3px solid black;
}
.btn:hover:not(:disabled){
    background-color: rgb(163, 163, 170);
    cursor: pointer;
}
.btn:active:not(:disabled){
    background-color: rgb(58, 57, 57);
    color: white;
    border: 3px solid rgba(0, 0, 0, 0);
}